<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../components/hex.js"></script>
    <!-- <script src="../components/reset.js"></script> -->
    <title>HexCalc</title>
</head>
<body>
    <div id="hexDiv">
        <label for="sideLength"><h3>Comprimento da Aresta:</h3></label>
        <input type="number" id="sideLength" name="sideLength" required>
        <h3>=</h3>
        <label for="result"><h3>Área:</h3></label>
        <output id="hexResult"></output>
    </div>
</body>
</html>