<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../components/crossmult.js"></script>
    <!-- <script src="../components/reset.js"></script> -->
    <title>CrossMult</title>
</head>
<body>
    <div id="resizeDiv">
        <label for="inputA"><h3>A:</h3></label>
        <input type="number" id="inputA" name="inputA" required>
    
        <label for="inputB"><h3>B:</h3></label>
        <input type="number" id="inputB" name="inputB" required>
        
        <h3 id="equalSignResize">=</h3>
        <label for="inputC"><h3>C:</h3></label>
        <input type="number" id="inputC" name="inputC" required>
    
        <label for="outputD"><h3>D:</h3></label>
        <output id="outputD" name="outputD">
    
    </div>
</body>
</html>