<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../components/elipse.js"></script>
    <!-- <script src="../components/reset.js"></script> -->
    <title>Elipse</title>
</head>
<body>
    <div id="ovalDiv">
        <h3>π</h3>
        <h3>x</h3>
        <label for="radiusA"><h3>r(a):</h3></label>
        <input type="number" id="radiusA" name="radiusA" required>
        <h3>x</h3>
        <label for="radiusB"><h3>r(b):</h3></label>
        <input type="number" id="radiusB" name="radiusB" required>
        <h3>=</h3>
        <label for="ovalResult"><h3>Área:</h3></label>
        <output id="ovalResult" value="0"></output>
    </div>
</body>
</html>